html{
    background-image: url('https://r4.wallpaperflare.com/wallpaper/77/395/701/pixel-art-andlt-aestheticandgt-town-city-waneella-hd-wallpaper-16afb7bd0dcf0939c31e6ab1f00dc4fb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body {
font-family: 'Courier New', Courier, monospace;
margin: 20px;
}

table {
border-collapse: collapse;
width: 400px;
}

form{
    background-image: linear-gradient(rgba(243, 58, 106,0.6), rgba(255, 147, 138,0.6));
    padding: 100px;
    text-align: center;
    margin: auto;
    display: table;
    border-radius: 20px;
    border: 2px solid #d9647f;
    cursor: pointer;
    transition: 0.6s;
}

form:hover{
    background-image: linear-gradient(rgba(243, 58, 106,.8), rgba(255, 147, 138,.8));
    padding: 100px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: 2px solid #d9647f;
}

h2{
    text-align: center;
    font-size: 64px;
    margin-top: 70px;
    margin-bottom: 50px;
    color: #F33A6A;
}

th{
font-size: 16px;
padding: 8px;
color: white;
text-align: right;
}

td{
    text-align: left;
}

#space{  
border-collapse: separate;  
border-spacing: 10px;  
margin-bottom: 20px;
}  

input[type="text"],
input[type="password"] {
background-color: #F33A6A;
color: white;
border: 2px solid #F33A6A;
border-radius: 10px;
width: 80%;
padding: 5px;
transition: 0.3s;
}

input[type="text"]:hover,
input[type="password"]:hover{
    background-color:rgba(255, 147, 138,.8);
    color: white;
    align-items: baseline;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 20px;
    width: 100%;
    padding: 5px;
}

button {
margin-top: 10px;
padding: 10px 20px;
color:white;
background-color:  #F33A6A;
border: 2px solid #F33A6A;
border-radius: 20px;
font-family: 'Courier New', Courier, monospace;
font-size: 12px;
cursor: pointer;
transition: 0.3s;
}

button:hover{
background-color:  #635392;
color: #FFC594;
border: 2px solid #635392;
border-radius: 40px;
border-width: 16px;
font-size: 16px;
}

.message {
margin-top: 40px;
color: white;
}